//fonts
  //Atom
  $mono1: Inconsolata;
  //reading
  $mono2: Cousine;
  //throwback
  $mono3: VT323;


  //stark
  $display1: Righteous;
  //clean
  $display2: Coda;
  //geometric
  $display3:Baumans;

//vars for holding font selections
  $fhead1:$display3;
  $fhead2:$display2;
  $fbody:$mono1;


  $space: 50px;
