$bgcol:	#feda90; //declares the variable

@media screen and (max-width: 800px) {
  /*grid 1 col*/
  .grid {
    display: grid;
    grid-template-columns: auto;
    background-color: $bgcol;
    padding: 10px;
    grid-gap:10px;
  }
}

@media screen and (min-width: 801px) {
  /*grid 2 col*/
  .grid {
  display: grid;
  grid-template-columns: auto auto;
  background-color: $bgcol + #101010;//taking the variable and adding,101010. You could potentially run into mathemtical problems.
  padding: 10px;
  grid-gap:10px;
  }
}

@media screen and (min-width: 1001px) {
  /*grid 3 col*/
  .grid {
    display: grid;
    grid-template-columns: auto auto auto;
    background-color: $bgcol + #202020;
    padding: 10px;
    grid-gap:10px;
  }
}


/*grid item format*/
  .grid-item {
    background-color: rgba(255, 255, 255, 0.8);
    border: 1px solid rgba(0, 0, 0, 0.8);
  }

/*font*/

p{
  font-family:'Roboto';
  font-size: 32px;
}
