//fonts
//variables declared with $varname format followed by :
//variables are flexible.  They can hold strings such as the text that would be put in a font-family, numeric values such as hex codes, integers, and decimals.
$fancy1:  'Liu Jian Mao Cao', cursive;
$fancy2:  'Open Sans Condensed', sans-serif;
$stark1:  'Fascinate Inline', cursive;
$stark2:  'Roboto Mono', monospace;
$serious1: 'Patua One', cursive;
$serious2: 'Ropa Sans', sans-serif;