//fonts
//variables declared with $varname format followed by :
//variables are flexible.  They can hold strings such as the text that would be put in a font-family, numeric values such as hex codes, integers, and decimals.
$header:'Playfair Display', serif;
$paragraph: 'Averia Serif Libre', cursive;
$brandcolor: #00B798;
$muted: #a1a1a1;
